@import url("https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css");

@media (min-width: 1200px){
     .row{
         margin-left:-30px;
        *zoom:1 
    }
     .row:before,.row:after{
         display:table;
         content:"";
         line-height:0 
    }
     .row:after{
         clear:both 
    }
     [class*="span"]{
         float:left;
         min-height:1px;
         margin-left:30px 
    }
     .container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{
         width:1170px 
    }
     .span1{
         width:70px 
    }
     .span2{
         width:170px 
    }
     .span3{
         width:270px 
    }
     .span4{
         width:370px 
    }
     .span5{
         width:470px 
    }
     .span6{
         width:570px 
    }
     .span7{
         width:670px 
    }
     .span8{
         width:770px 
    }
     .span9{
         width:870px 
    }
     .span10{
         width:970px 
    }
     .span11{
         width:1070px 
    }
     .span12{
         width:1170px 
    }
     .offset1{
         margin-left:130px 
    }
     .offset2{
         margin-left:230px 
    }
     .offset3{
         margin-left:330px 
    }
     .offset4{
         margin-left:430px 
    }
     .offset5{
         margin-left:530px 
    }
     .offset6{
         margin-left:630px 
    }
     .offset7{
         margin-left:730px 
    }
     .offset8{
         margin-left:830px 
    }
     .offset9{
         margin-left:930px 
    }
     .offset10{
         margin-left:1030px 
    }
     .offset11{
         margin-left:1130px 
    }
     .offset12{
         margin-left:1230px 
    }
     .row-fluid{
         width:100%;
        *zoom:1 
    }
     .row-fluid:before,.row-fluid:after{
         display:table;
        content:"";
        line-height:0 
    }
     .row-fluid:after{
         clear:both 
    }
    .row-fluid [class*="span"]{
        display:block;
        width:100%;
        min-height:30px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        float:left;
        margin-left:2.5641025641%;
        *margin-left:2.5109110747%
    }
    .row-fluid [class*="span"]:first-child{
        margin-left:0
    }
    .row-fluid .controls-row [class*="span"]+[class*="span"]{
        margin-left:2.5641025641%
    }
    .row-fluid .span1{
        width:5.9829059829%;
        *width:5.9297144935%
    }
    .row-fluid .span2{
        width:14.5299145299%;
        *width:14.4767230406%
    }
    .row-fluid .span3{
        width:23.0769230769%;
        *width:23.0237315876%
    }
    .row-fluid .span4{
        width:31.6239316239%;
        *width:31.5707401346%
    }
    .row-fluid .span5{
        width:40.1709401709%;
        *width:40.1177486816%
    }
    .row-fluid .span6{
        width:48.7179487179%;
        *width:48.6647572286%
    }
    .row-fluid .span7{
        width:57.264957265%;
        *width:57.2117657756%
    }
    .row-fluid .span8{
        width:65.811965812%;
        *width:65.7587743226%
    }
    .row-fluid .span9{
        width:74.358974359%;
        *width:74.3057828696%
    }
    .row-fluid .span10{
        width:82.905982906%;
        *width:82.8527914166%
    }
    .row-fluid .span11{
        width:91.452991453%;
        *width:91.3997999636%
    }
    .row-fluid .span12{
        width:100%;
        *width:99.9468085106%
    }
    .row-fluid .offset1{
        margin-left:11.1111111111%;
        *margin-left:11.0047281324%
    }
    .row-fluid .offset1:first-child{
        margin-left:8.547008547%;
        *margin-left:8.4406255683%
    }
    .row-fluid .offset2{
        margin-left:19.6581196581%;
        *margin-left:19.5517366794%
    }
    .row-fluid .offset2:first-child{
        margin-left:17.094017094%;
        *margin-left:16.9876341153%
    }
    .row-fluid .offset3{
        margin-left:28.2051282051%;
        *margin-left:28.0987452264%
    }
    .row-fluid .offset3:first-child{
        margin-left:25.641025641%;
        *margin-left:25.5346426623%
    }
    .row-fluid .offset4{
        margin-left:36.7521367521%;
        *margin-left:36.6457537734%
    }
    .row-fluid .offset4:first-child{
        margin-left:34.188034188%;
        *margin-left:34.0816512093%
    }
    .row-fluid .offset5{
        margin-left:45.2991452991%;
        *margin-left:45.1927623204%
    }
    .row-fluid .offset5:first-child{
        margin-left:42.735042735%;
        *margin-left:42.6286597563%
    }
    .row-fluid .offset6{
        margin-left:53.8461538462%;
        *margin-left:53.7397708674%
    }
    .row-fluid .offset6:first-child{
        margin-left:51.2820512821%;
        *margin-left:51.1756683033%
    }
    .row-fluid .offset7{
        margin-left:62.3931623932%;
        *margin-left:62.2867794144%
    }
    .row-fluid .offset7:first-child{
        margin-left:59.8290598291%;
        *margin-left:59.7226768503%
    }
    .row-fluid .offset8{
        margin-left:70.9401709402%;
        *margin-left:70.8337879614%
    }
    .row-fluid .offset8:first-child{
        margin-left:68.3760683761%;
        *margin-left:68.2696853973%
    }
    .row-fluid .offset9{
        margin-left:79.4871794872%;
        *margin-left:79.3807965085%
    }
    .row-fluid .offset9:first-child{
        margin-left:76.9230769231%;
        *margin-left:76.8166939444%
    }
    .row-fluid .offset10{
        margin-left:88.0341880342%;
        *margin-left:87.9278050555%
    }
    .row-fluid .offset10:first-child{
        margin-left:85.4700854701%;
        *margin-left:85.3637024914%
    }
    .row-fluid .offset11{
        margin-left:96.5811965812%;
        *margin-left:96.4748136025%
    }
    .row-fluid .offset11:first-child{
        margin-left:94.0170940171%;
        *margin-left:93.9107110384%
    }
    .row-fluid .offset12{
        margin-left:105.1282051282%;
        *margin-left:105.0218221495%
    }
    .row-fluid .offset12:first-child{
        margin-left:102.5641025641%;
        *margin-left:102.4577195854%
    }
    input,textarea,.uneditable-input{
        margin-left:0
    }
    .controls-row [class*="span"]+[class*="span"]{
        margin-left:30px
    }
    input.span1,textarea.span1,.uneditable-input.span1{
        width:56px
    }
    input.span2,textarea.span2,.uneditable-input.span2{
        width:156px
    }
    input.span3,textarea.span3,.uneditable-input.span3{
        width:256px
    }
    input.span4,textarea.span4,.uneditable-input.span4{
        width:356px
    }
    input.span5,textarea.span5,.uneditable-input.span5{
        width:456px
    }
    input.span6,textarea.span6,.uneditable-input.span6{
        width:556px
    }
    input.span7,textarea.span7,.uneditable-input.span7{
        width:656px
    }
    input.span8,textarea.span8,.uneditable-input.span8{
        width:756px
    }
    input.span9,textarea.span9,.uneditable-input.span9{
        width:856px
    }
    input.span10,textarea.span10,.uneditable-input.span10{
        width:956px
    }
    input.span11,textarea.span11,.uneditable-input.span11{
        width:1056px
    }
    input.span12,textarea.span12,.uneditable-input.span12{
        width:1156px
    }
    .thumbnails{
        margin-left:-30px
    }
    .thumbnails>li{
        margin-left:30px
    }
    .row-fluid .thumbnails{
        margin-left:0
    }
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{
    display:block
}
audio,canvas,video{
    display:inline-block;
    *display:inline;
    *zoom:1
}
audio:not([controls]){
    display:none
}
html{
    font-size:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
a:focus{
    outline:thin dotted #333;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}
a:hover,a:active{
    outline:0
}
sub,sup{
    position:relative;
    font-size:75%;
    line-height:0;
    vertical-align:baseline
}
sup{
    top:-0.5em
}
sub{
    bottom:-0.25em
}
img{
    max-width:100%;
    width:auto\9;
    height:auto;
    vertical-align:middle;
    border:0;
    -ms-interpolation-mode:bicubic
}
#map_canvas img,.google-maps img{
    max-width:none
}
button,input,select,textarea{
    margin:0;
    font-size:100%;
    vertical-align:middle
}
button,input{
    *overflow:visible;
    line-height:normal
}
button::-moz-focus-inner,input::-moz-focus-inner{
    padding:0;
    border:0
}
button,html input[type="button"],input[type="reset"],input[type="submit"]{
    -webkit-appearance:button;
    cursor:pointer
}
label,select,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="radio"],input[type="checkbox"]{
    cursor:pointer
}
input[type="search"]{
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-appearance:textfield
}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance:none
}
textarea{
    overflow:auto;
    vertical-align:top
}
@media print{
    *{
        text-shadow:none !important;
        color:#000 !important;
        background:transparent !important;
        box-shadow:none !important
    }
    a,a:visited{
        text-decoration:underline
    }
    a[href]:after{
        content:" (" attr(href) ")"
    }
    abbr[title]:after{
        content:" (" attr(title) ")"
    }
    .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{
        content:""
    }
    pre,blockquote{
        border:1px solid #999;
        page-break-inside:avoid
    }
    thead{
        display:table-header-group
    }
    tr,img{
        page-break-inside:avoid
    }
    img{
        max-width:100% !important
    }
    @page{
        margin:0.5cm
    }
    p,h2,h3{
        orphans:3;
        widows:3
    }
    h2,h3{
        page-break-after:avoid
    }
}

code,pre{
    padding:0 3px 2px;
    font-family:Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size:12px;
    color:#333;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
code{
    padding:2px 4px;
    color:#d14;
    background-color:#f7f7f9;
    border:1px solid #e1e1e8;
    white-space:nowrap
}
pre{
    display:block;
    padding:9.5px;
    margin:0 0 10px;
    font-size:13px;
    line-height:20px;
    word-break:break-all;
    word-wrap:break-word;
    white-space:pre;
    white-space:pre-wrap;
    background-color:#f5f5f5;
    border:1px solid #ccc;
    border:1px solid rgba(0,0,0,0.15);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
pre.prettyprint{
    margin-bottom:20px
}
pre code{
    padding:0;
    color:inherit;
    white-space:pre;
    white-space:pre-wrap;
    background-color:transparent;
    border:0
}
.pre-scrollable{
    max-height:340px;
    overflow-y:scroll
}
form{
    margin:0 0 20px
}
fieldset{
    padding:0;
    margin:0;
    border:0
}
legend{
    display:block;
    width:100%;
    padding:0;
    margin-bottom:20px;
    font-size:21px;
    line-height:40px;
    color:#333;
    border:0;
    border-bottom:1px solid #e5e5e5
}
legend small{
    font-size:15px;
    color:#999
}
label,input,button,select,textarea{
    font-size:14px;
    font-weight:normal;
    line-height:20px
}
input,button,select,textarea{
    font-family:"Libre Baskerville", "Droid Serif", "Times New Roman", Times, serif
}
label{
    display:block;
    margin-bottom:5px
}
select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{
    display:inline-block;
    height:20px;
    padding:4px 6px;
    margin-bottom:10px;
    font-size:14px;
    line-height:20px;
    color:#555;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    vertical-align:middle
}
input,textarea,.uneditable-input{
    width:206px
}
textarea{
    height:auto
}
textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{
    background-color:#FFFFFF;
    border:1px solid #ccc;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition:border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition:border linear 0.2s, box-shadow linear 0.2s;
    -o-transition:border linear 0.2s, box-shadow linear 0.2s;
    transition:border linear 0.2s, box-shadow linear 0.2s
}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus{
    border-color:rgba(82,168,236,0.8);
    outline:0;
    outline:thin dotted \9;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)
}
input[type="radio"],input[type="checkbox"]{
    margin:4px 0 0;
    *margin-top:0;
    margin-top:1px \9;
    line-height:normal
}
input[type="file"],input[type="image"],input[type="submit"],input[type="reset"],input[type="button"],input[type="radio"],input[type="checkbox"]{
    width:auto
}
select,input[type="file"]{
    height:30px;
    *margin-top:4px;
    line-height:30px
}
select{
    width:220px;
    border:1px solid #ccc;
    background-color:#FFFFFF
}
select[multiple],select[size]{
    height:auto
}
select:focus,input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus{
    outline:thin dotted #333;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}
.uneditable-input,.uneditable-textarea{
    color:#999;
    background-color:#fcfcfc;
    border-color:#ccc;
    -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);
    -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);
    cursor:not-allowed
}
.uneditable-input{
    overflow:hidden;
    white-space:nowrap
}
.uneditable-textarea{
    width:auto;
    height:auto
}
input:-moz-placeholder,textarea:-moz-placeholder{
    color:#999
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{
    color:#999
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    color:#999
}
.radio,.checkbox{
    min-height:20px;
    padding-left:20px
}
.radio input[type="radio"],.checkbox input[type="checkbox"]{
    float:left;
    margin-left:-20px
}
.controls>.radio:first-child,.controls>.checkbox:first-child{
    padding-top:5px
}
.radio.inline,.checkbox.inline{
    display:inline-block;
    padding-top:5px;
    margin-bottom:0;
    vertical-align:middle
}
.radio.inline+.radio.inline,.checkbox.inline+.checkbox.inline{
    margin-left:10px
}

.dropup,.dropdown{
    position:relative
}
.dropdown-toggle{
    *margin-bottom:-3px
}
.dropdown-toggle:active,.open .dropdown-toggle{
    outline:0
}


@media print{
     .visible-print{
         display:inherit !important 
    }
     .hidden-print{
         display:none !important
    }
}
 .clearfix{
     *zoom:1 
}
 .clearfix:before,.clearfix:after{
     display:table;
    content:"";
    line-height:0 
}
 .clearfix:after{
     clear:both 
}
 .hide-text{
     font:0/0 a;
     color:transparent;
     text-shadow:none;
     background-color:transparent;
     border:0 
}
 .input-block-level{
     display:block;
     width:100%;
     min-height:30px;
     -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
     box-sizing:border-box 
}

.no-padding{
    padding:0 !important
}
.btm-padding{
    padding-bottom:1em
}
.no-margin{
    margin:0 !important
}
.flex-align{
    display:flex !important;
    align-items:center;
    justify-content:center
}
.bp-well{
    padding:20px;
    margin-bottom:20px;
    border:1px solid #1C1C1C;
    font-size:14px
}
.bp-block{
    position:relative
}
.dark-block{
    background:repeating-linear-gradient(-55deg, #232323, #232323 1px, #1C1C1C 1px, #1C1C1C 12px)
}
.dark-block p,.dark-block a{
    color:#FFFFFF
}
.dark-block a{
    text-decoration:underline
}
.dark-block a:hover{
    color:#FF6060
}
button,.button{
    text-transform:uppercase;
    background-color:#FFFFFF;
    border:none;
    padding:0.7em 1.2em;
    font-family:"PT Sans", Helvetica, Arial, sans-serif;
}
button:hover,.button:hover{
    color:#FF6060;
    text-decoration:none
}
.button-row{
    text-align:center;
    margin:1em 0 2.5em;
	border: none;
}
.search-box{
    font-size:14px;
    float:right;
    display:block
}
.search-form{
    margin-bottom:0px
}
.input-prepend{
    margin-bottom:0px;
    padding-bottom:0px
}
.input-prepend .add-on{
    padding:9px 1em;
    border:1px solid #1C1C1C;
    background-color:#FFFFFF
}
.input-prepend .add-on:first-child{
    border-radius:0
}
.input-prepend input{
    padding:9px 1em;
    border-radius:0
}
form input[type="text"]{
    border-radius:0;
    box-shadow:none;
    font-family:"PT Sans", Helvetica, Arial, sans-serif
}
form input[type="text"]::placeholder{
    font-family:"PT Sans", Helvetica, Arial, sans-serif
}
.banner-ad{
    background:repeating-linear-gradient(-55deg, #D4D4D4, #D4D4D4 1px, #EFEFEF 1px, #EFEFEF 12px);
    margin-bottom:2em
}
.banner-ad .header-adzone{
    display:flex;
    justify-content:center;
    align-items:center
}
.banner-ad .header-adzone a img{
    max-height:200px;
    width:auto
}
@media (max-width: 768px){
    .banner-ad .header-adzone{
        padding:0 1em
    }
}
@media (max-width: 768px){
    .header{
        padding:0 1em
    }
}
.header .subscribe p,.header .subscribe .button{
    display:inline-block
}
.header .subscribe .button{
    position:fixed;
    bottom:21px;
    right:80px;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.5),0 1px 9px 0 rgba(0,0,0,0.5);
    outline:1px solid #FF6060;
    color:#FF6060;
    background-color:#FFFFFF;
    font-style:italic;
    font-family:"Libre Baskerville", "Droid Serif", "Times New Roman", Times, serif;
    text-transform:none;
    z-index:101
}
.header .subscribe .button:hover{
    outline:3px double #FF6060
}

@media (max-width: 920px){
    .header .navbar.bp-nav.navbar-fixed-top{
        margin-bottom:0
    }
    .header .navbar.bp-nav.navbar-fixed-top .nav-collapse.in{
        padding-bottom:1.5em
    }
}
.header .navbar.bp-nav img.brand{
    width:9.5em;
    padding-left:0;
    padding-right:10px;
    margin:0px
}
.header .navbar.bp-nav .navbar-inner{
    box-shadow:none;
    border:none;
    padding:0 1.5em
}
.header .navbar.bp-nav .navbar-inner .btn-navbar{
    margin:0;
    padding:10px 15px;
    font-size:30px;
    color:#1C1C1C;
    text-shadow:none;
    background-color:#FFFFFF;
    background-image:none;
    box-shadow:none;
    border:none
}

.search-bar{
    margin-top:0px;
    margin-bottom:0px;
    padding:3px
}
.search-bar .breadcrumbs{
    padding-left:1.5em;
    font-family:"PT Sans", Helvetica, Arial, sans-serif;
    font-weight:800;
    font-size:12px;
    line-height:16px;
    text-transform:uppercase;
    display:block;
    float:left
}
.search-bar .breadcrumbs h1,.search-bar .breadcrumbs p{
    font-family:"PT Sans", Helvetica, Arial, sans-serif;
    font-weight:800;
    font-size:12px;
    line-height:16px;
    text-transform:uppercase;
    display:inline;
    margin-top:7px;
    margin-bottom:4px
}
.footer footer{
    margin-top:0px;
    padding:3em 2em 2em;
    color:#033675;
    text-align:left;
    font-family:"PT Sans", Helvetica, Arial, sans-serif;
    font-weight:400;
    font-size:15px;
}
.footer footer .row-fluid{
    text-align:center;
	color:#033675;
	
}
.footer footer .row-fluid{
    margin-bottom:1.5em;
	color:#033675;
}
@media (min-width: 768px){
    .footer footer{
        padding:3em 18em 2em
    }
}
.footer footer .social-block{
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:space-between;
    max-width:14%;
    margin:0 auto
}
@media (max-width: 768px){
    .footer footer .social-block{
        max-width:34%;
        margin-bottom:1em
    }
}
.footer footer .social-block i{
    font-size:24px;
    color:#828282;
    margin:0 6px
}
.footer footer .row-fluid.copyright{
    font-size:9px;
    color:#828282;
    font-family:"Libre Baskerville", "Droid Serif", "Times New Roman", Times, serif;
    padding-top:2em;
    text-align:center
}
.footer footer p.list-header{
    font-family:"Libre Baskerville", "Droid Serif", "Times New Roman", Times, serif;
    text-align:center
}
.footer footer ul{
    list-style:none;
    margin:0
}
.footer footer ul.sitemap li a{
    text-transform:uppercase;
    font-size:12px;
    font-family:"PT Sans", Helvetica, Arial, sans-serif;
    line-height:2.5
}
.footer footer a{
    color:#FFFFFF
}
.footer footer a:link{
    color:#FFFFFF !important
}
.footer footer a:active{
    color:#FFFFFF !important
}
.footer footer a:visited{
    color:#FFFFFF !important
}
.footer footer a:hover{
    color:#FFFFFF !important
}
.footer footer .span6.middle .row.address{
    margin-top:1em;
    margin-bottom:2.5em;
    font-size:10px;
    color:#828282;
    font-family:"Libre Baskerville", "Droid Serif", "Times New Roman", Times, serif
}
.footer footer .span6.middle .row.address p{
    margin-bottom:2px
}
.footer footer .span6.subscribe h3{
    font-family:"PT Sans", Helvetica, Arial, sans-serif;
    font-size:20px
}
.footer footer .span6.subscribe p.italic{
    font-family:"Libre Baskerville", "Droid Serif", "Times New Roman", Times, serif;
    font-size:12px;
    margin-bottom:2em
}
.footer footer .span6.subscribe img{
    width:80%;
    max-width:320px
}
#heroCarousel.carousel.slide{
    border:1px solid #1C1C1C
}
#heroCarousel.carousel.slide .carousel-inner .item{
    height:24em
}
@media (max-width: 768px){
    #heroCarousel.carousel.slide .carousel-inner .item{
        height:unset
    }
}
#heroCarousel.carousel.slide .carousel-inner a{
    color:#1C1C1C
}
#heroCarousel.carousel.slide .carousel-inner .span6{
    padding:3em 0 1em
}
#heroCarousel.carousel.slide .carousel-inner .span6.hero-img{
    text-align:right;
    padding-right:1em
}
@media (max-width: 768px){
    #heroCarousel.carousel.slide .carousel-inner .span6.hero-img{
        text-align:center;
        padding-right:0
    }
}
#heroCarousel.carousel.slide .carousel-inner .span6.hero-img img{
    width:85%;
    max-height:550px;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.2),0 1px 3px 0 rgba(0,0,0,0.1)
}
#heroCarousel.carousel.slide .carousel-inner .span6.hero-text{
    padding:3em 4em 3em 2em
}
@media (max-width: 768px){
    #heroCarousel.carousel.slide .carousel-inner .span6.hero-text{
        padding:1em
    }
}
#heroCarousel.carousel.slide .carousel-inner .span6.hero-text h4.title{
    width:85%;
    font-size:34px;
    font-family:"Libre Baskerville", "Droid Serif", "Times New Roman", Times, serif;
    font-style:italic;
    text-transform:none;
    font-weight:300;
    margin:15px 0;
    line-height:34px
}
#heroCarousel.carousel.slide .carousel-inner .span6.hero-text p.subtitle{
    width:85%;
    font-weight:bolder;
    font-size:18px;
    font-family:"PT Sans", Helvetica, Arial, sans-serif;
    margin:10px 0
}
#heroCarousel.carousel.slide .carousel-inner .span6.hero-text p.sans{
    font-size:13px
}
#heroCarousel.carousel.slide .carousel-inner .span6.hero-text p.body{
    width:85%;
    font-size:12px;
    line-height:1.9em
}
#heroCarousel.carousel.slide .carousel-indicators-row{
    z-index:1001
}
#heroCarousel.carousel.slide .carousel-indicators-row .span6{
    padding:0 0 3em 1em
}
#heroCarousel.carousel.slide .carousel-indicators-row .span6 .carousel-control-prev,#heroCarousel.carousel.slide .carousel-indicators-row .span6 .carousel-control-next{
    font-size:28px;
    margin:0 5px
}
#heroCarousel.carousel.slide .carousel-indicators-row .span6 a:hover,#heroCarousel.carousel.slide .carousel-indicators-row .span6 a:focus,#heroCarousel.carousel.slide .carousel-indicators-row .span6 a:visited{
    text-decoration:none !important
}
#heroCarousel.carousel.slide .carousel-indicators-row .span6 a:hover{
    color:#FF6060
}
#heroCarousel.carousel.slide .carousel-indicators-row .span6 .carousel-indicators{
    position:unset;
    min-height:15px;
    display:inline-block;
    padding-bottom:2px
}
#heroCarousel.carousel.slide .carousel-indicators-row .span6 .carousel-indicators li{
    border-radius:50%;
    border:1px solid #1C1C1C;
    width:18px;
    height:18px;
    display:flex;
    align-items:center;
    justify-content:center
}
#heroCarousel.carousel.slide .carousel-indicators-row .span6 .carousel-indicators li:hover{
    cursor:pointer;
    background-color:#FF6060;
    border-color:#FF6060
}
#heroCarousel.carousel.slide .carousel-indicators-row .span6 .carousel-indicators li:hover span{
    color:#FFFFFF
}
#heroCarousel.carousel.slide .carousel-indicators-row .span6 .carousel-indicators li.active:hover{
    background-color:#FF6060;
    border-color:#FF6060
}
#heroCarousel.carousel.slide .carousel-indicators-row .span6 .carousel-indicators li span{
    text-indent:0;
    font-size:10px;
    font-family:"PT Sans", Helvetica, Arial, sans-serif
}
#heroCarousel.carousel.slide .carousel-indicators-row .span6 .carousel-indicators li.active{
    background-color:#1C1C1C
}
#heroCarousel.carousel.slide .carousel-indicators-row .span6 .carousel-indicators li.active span{
    color:#FFFFFF
}
.slider-item img{
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.2),0 1px 3px 0 rgba(0,0,0,0.1)
}
.span6.book-cover.flexslider img{
    margin:0 auto
}
.article-info{
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center
}
@media (max-width: 800px){
    .article-info{
        display:block
    }
}
.article-info .cover img{
    height:unset
}
.article-info .flex-article-content{
    width:100%;
    margin-left:0.5em
}
.article-info.fixed-height{
    height:320px
}
@media (max-width: 768px){
    .article-info.fixed-height{
        height:100%;
        padding:1em
    }
}
.article-info .cover img{
    border:none;
    width:100%;
    height:auto;
    margin-right:1.5em;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.2),0 1px 3px 0 rgba(0,0,0,0.1)
}
@media (max-width: 768px){
    .article-info .cover img{
        height:auto;
        margin-right:1em;
        margin-bottom:0.5em
    }
}
.article-info .content{
    padding:0 1em;
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content:center
}
@media (max-width: 768px){
    .article-info .content{
        padding:0
    }
}
.article-info .content h4.italic{
    line-height:1.4em;
    font-size:20px;
    margin-top:0
}
.article-info p{
    font-size:12px;
    line-height:1.9em
}
.article-info p.genre-links{
    font-weight:bolder;
    font-family:"PT Sans", Helvetica, Arial, sans-serif;
    margin:0 0 10px 0;
    line-height:1.1em
}
.article-info p.sans.bold{
    font-size:15px;
    line-height:1.2em
}
.article-info .read-full{
    font-family:"PT Sans", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    font-size:13px;
    font-weight:bold;
    padding:2em 0 0 0;
    margin:0px
}
.article-info .read-full a{
    text-decoration:none
}
.article-info .read-full a:hover{
    color:#FF6060
}
.article-info .read-full i{
    font-size:18px;
    vertical-align:-2px
}
.flexslider{
    height:85%;
    display:flex;
    align-items:center
}
.article-multi-list-left{
    display:block;
    float:left;
    width:32%;
    height:100%;
    margin-right:1em
}
@media (max-width: 769px){
    .article-multi-list-left{
        height:unset
    }
}
.article-list-left{
    display:flex;
    justify-content:center;
    align-items:center;
    width:32%;
    height:100%;
    margin-right:1em
}
.article-list-right{
    display:block;
    float:right;
    max-width:45%;
    height:100%
}
.home-blog-block{
    padding:2.5em;
    border:3px double #1C1C1C;
    margin-bottom:0
}
.home-blog-block .article-info{
    margin-top:0;
    display:flex
}
@media (max-width: 800px){
    .home-blog-block .article-info{
        display:block
    }
}
.home-blog-block .article-info .date{
    margin-bottom:0.5em
}
.home-blog-block .article-info p.sans.bold{
    text-transform:uppercase;
    font-size:11px;
    font-weight:800
}
.home-blog-block .article-info .article-list-left.cover{
    flex:3;
    padding:0 0.5em 0.5em 0;
    margin-right:1em
}

.book-details-hero{
    margin:4em 0 3em;
    display:flex;
    align-items:center;
    justify-content:center
}
@media (min-width: 650px){
    .book-details-hero{
        min-height:500px;
        width:90%;
        margin-left:auto;
        margin-right:auto
    }
}
@media (max-width: 650px){
    .book-details-hero{
        flex-direction:column
    }
    .book-details-hero .book-cover{
        padding-bottom:2.5em
    }
}
.book-details-hero.current-contest-details-hero{
    box-sizing:border-box;
    border:3px double #1C1C1C;
    padding:3em 0;
    margin-bottom:3em
}
.book-details-hero.current-contest-details-hero .button{
    margin-top:1.5em;
    display:inline-block
}
.book-details-hero .book-cover{
    text-align:center
}
.book-details-hero .book-cover img{
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.2),0 1px 3px 0 rgba(0,0,0,0.1)
}
.book-details-hero .book-cover.multi-book{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative
}
@media (min-width: 650px){
    .book-details-hero .book-cover.multi-book{
        position:relative;
        min-height:300px
    }
    .book-details-hero .book-cover.multi-book .multi-book-preview-item{
        position:absolute;
        width:53%
    }
    .book-details-hero .book-cover.multi-book .multi-book-preview-item:first-of-type{
        left:0;
        top:-8em
    }
    .book-details-hero .book-cover.multi-book .multi-book-preview-item:last-of-type{
        right:0;
        bottom:-8em
    }
    .book-details-hero .book-cover.multi-book img{
        width:100%
    }
}
.book-details-hero .book-data{
    text-align:center;
    font-family:"Libre Baskerville", "Droid Serif", "Times New Roman", Times, serif;
    font-size:12px;
    line-height:15px
}
.book-details-hero .book-data h1,.book-details-hero .book-data h3{
    font-size:42px;
    line-height:52px;
    margin:20px 0
}
.book-details-hero .book-data h4.sans{
    line-height:1.2em
}
.book-details-hero .book-data p.author-info{
    font-size:13px
}
.book-details-hero .book-data .addthis{
    margin-top:1em
}
.book-details{
    border:1px solid #1C1C1C;
    padding:1.5em;
    margin-bottom:2em;
    min-height:210px;
    display:flex
}
@media (max-width: 768px){
    .book-details{
        padding:1.5em 1em
    }
}
.book-details .affiliate-links-small{
    text-align:left
}
.book-details .affiliate-links-small img{
    padding:0 5px 20px 0;
    width:32px;
    box-shadow:none !important
}
.book-details .book-cover{
    min-width:40%;
    max-width:40%;
    float:left;
    height:200px;
    margin:0 5px 0 0;
    display:flex;
    align-items:center
}

.book-details .book-cover img{
    max-height:100%;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.2),0 1px 3px 0 rgba(0,0,0,0.1)
}
.book-details .book-data{
    margin-left:20px;
    text-align:left;
    color:#1C1C1C;
    font-family:"Libre Baskerville", "Droid Serif", "Times New Roman", Times, serif;
    font-size:12px;
    line-height:15px
}
.book-details .book-data h4{
    font-size:18px;
    margin-top:0
}
.featured-person{
    margin-left:auto;
    margin-right:auto;
    text-align:center
}
.featured-person img{
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.2),0 1px 3px 0 rgba(0,0,0,0.1);
    margin-bottom:10px
}
.featured-person p.contributor-small{
    font-family:"PT Sans", Helvetica, Arial, sans-serif;
    font-weight:bold;
    font-size:16px;
    margin-bottom:2em
}
.facets{
    margin-top:10px;
    margin-bottom:10px
}
.facets p{
    font-family:"Libre Baskerville", "Droid Serif", "Times New Roman", Times, serif;
    font-style:italic;
    font-size:15px;
    margin-bottom:2px
}
.facets p:hover{
    color:#FF6060;
    cursor:pointer
}
.facets p i{
    margin-left:5px;
    font-size:17px
}
.facets ul{
    margin-left:10px
}
.facets ul li{
    list-style:none;
    padding-left:1em;
    font-size:12px
}
.facets ul li a:hover{
    color:#FF6060
}
.addthis{
    display:inline-block
}
.addthis span{
    margin-bottom:4px;
    margin-top:0px
}
.icon-red{
    color:#FF6060;
    font-size:18px;
    margin-right:.6em !important;
    margin-top:3px
}
.icon-hover:hover{
    text-decoration:none !important
}
.sidebar-footer{
    text-align:right;
    font-family:"PT Sans", Helvetica, Arial, sans-serif;
    font-weight:400;
    font-size:20px;
    line-height:21px;
    padding:10px 0px;
    text-transform:uppercase
}
.sidebar-header{
    background:repeating-linear-gradient(-55deg, #232323, #232323 1px, #1C1C1C 1px, #1C1C1C 12px);
    color:#FFFFFF;
    margin:0;
    font-family:"PT Sans", Helvetica, Arial, sans-serif;
    font-weight:800;
    font-size:14px;
    text-transform:uppercase;
    padding:10px 20px
}
.sidebar-body{
    padding:0px 20px;
    background:white;
    margin-top:0px;
    margin-bottom:20px;
    border:1px solid #1C1C1C;
    font-size:14px
}
.sidebar-body.bookjacket{
    padding:1em 20px
}
.sidebar-body.sidebar-recent-posts .bp-block.article-info{
    padding:1em 0;
    border-bottom:1px solid #EFEFEF
}
.sidebar-body.sidebar-recent-posts .bp-block.article-info:last-of-type{
    border-bottom:none
}
.sidebar-body.sidebar-recent-posts .bp-block.article-info .row-fluid{
    display:flex;
    align-items:center
}
.sidebar-body.sidebar-recent-posts .article-list-left.cover{
    max-width:30%;
    margin-right:1em
}
.sidebar-body.sidebar-recent-posts .article-list-left.cover img{
    height:unset;
    margin-right:1em;
    max-height:6.5em
}
.sidebar-body.sidebar-recent-posts .span4.cover{
    padding-right:1em
}
.sidebar-body.sidebar-recent-posts .span4.cover img{
    max-width:6em
}
.sidebar-body.sidebar-recent-posts h4{
    font-size:16px
}
.sidebar-body.sidebar-recent-posts p.sans.bold{
    font-size:12px
}
.reviews-block{
    margin-bottom:2em
}
.reviews-block .content-well{
    padding:2em
}
.reviews-block .content-well .button-row{
    margin-bottom:0
}
.reviews-block .bp-block.article-info{
    padding:0 0.5em
}
.reviews-block .bp-block.article-info .article-list-left.cover{
    display:block;
    float:left;
    max-width:45%;
    height:100%;
    margin-right:0.5em
}
.sidebar.print-edition-subscription{
    border:3px double #1C1C1C;
    text-align:center;
    color:#FFFFFF
}
.sidebar.print-edition-subscription p.small-text{
    font-size:12px;
    margin:0 1.5em 10px
}
.sidebar.print-edition-subscription ul{
    list-style:none;
    margin:10px 0 0 0
}
.sidebar.print-edition-subscription ul li a{
    font-family:"PT Sans", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    color:#FFFFFF
}
.sq-ad{
    display:flex;
    justify-content:center;
    align-items:center
}
.home .dark-block{
    font-size:14px;
    padding:4em 0;
    text-align:center;
    margin-bottom:20px
}
@media (max-width: 768px){
    .home .dark-block{
        font-size:12px;
        padding:3em 2em
    }
}
.home .articles-block.homepage-features .article-info.fixed-height{
    display:block
}
.home .articles-block.homepage-features .article-info.fixed-height .article-list-left{
    display:block;
    float:left;
    max-width:45%;
    width:unset
}
.home .articles-block.homepage-features .article-info.fixed-height .flexslider{
    height:100%;
    margin-bottom:0
}
.home .articles-block.homepage-features .article-info.fixed-height .cover{
    margin-right:1.2em
}
.home .articles-block.homepage-features .article-info.fixed-height .cover img{
    height:100%;
    width:auto
}

@media (max-width: 768px){
    .tag-page .tag-page__header-img img{
        margin:2em auto auto;
        max-width:100%
    }
}
.tag-page .tag-page__excerpt{
    margin:2em 0
}
.tag-page .tag-page__excerpt p{
    margin:1em 2.2em
}
.tag-page .tag-page__header-title{
    display:flex;
    flex-direction:column;
    position:absolute;
    left:42%;
    top:50%;
    font-size:16px;
    background-color:#FFFFFF;
    padding:1.5em;
    border:3px double #1C1C1C
}
@media (max-width: 768px){
    .tag-page .tag-page__header-title{
        position:unset;
        margin-top:1em;
        padding:1em
    }
}
.tag-page .tag-page__header-title h3{
    margin:0.5em 0;
    line-height:normal
}
.tag-page .article-list-left{
    display:flex;
    justify-content:center;
    align-items:center;
    min-width:35%;
    margin-right:0
}
@media (max-width: 800px){
    .tag-page .article-list-left{
        float:left;
        margin:0 1em 0.3em 0
    }
}
.tag-page .article-list-left a{
    max-width:85%
}
.tag-page .article-list-left a img{
    height:unset;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.2),0 1px 3px 0 rgba(0,0,0,0.1)
}
.tag-page .article-multi-list-left{
    display:flex;
    justify-content:center;
    align-items:center;
    min-width:35%;
    margin-right:0;
    position:relative
}
@media (max-width: 768px){
    .tag-page .article-multi-list-left{
        float:left;
        margin:0 1em 0.3em 0;
        height:100%
    }
}
.tag-page .article-multi-list-left .multi-book-preview-item{
    width:42%;
    position:absolute;
    left:56px;
    top:25px
}
@media (max-width: 768px){
    .tag-page .article-multi-list-left .multi-book-preview-item{
        width:100% !important;
        display:flex;
        align-items:center;
        justify-content:center;
        height:100%;
        position:unset
    }
}
.tag-page .article-multi-list-left .multi-book-preview-item:first-of-type{
    width:42%;
    left:14px;
    top:10px
}
.tag-page .article-multi-list-left .multi-book-preview-item:last-of-type{
    width:42%;
    left:unset;
    right:15px;
    top:35px
}
.tag-page .flex-row .flex-col{
    max-width:44%;
    margin:1em auto !important
}
@media (max-width: 800px){
    .tag-page .flex-row .flex-col{
        max-width:100%
    }
}
.tag-page .span12{
    padding:20px;
    margin-bottom:20px;
    font-size:14px
}
.alert-danger,.alert-error{
    background-color:#f2dede;
    border-color:#c36573;
    color:#8c3643
}
.fixed_sidebar{
    min-width:255px
}
.fixed-issue-sidebar{
    min-width:300px !important;
    padding-top:3.6em
}
.btn-large{
    padding:10px;
    font-size:20px
}
p.pdf-reader{
    font-family:"PT Sans", Helvetica, Arial, sans-serif;
    font-size:20px
}
p.article-issue{
    font-family:"PT Sans", Helvetica, Arial, sans-serif;
    font-size:20px;
    margin-bottom:15px
}
.intrinsic-container{
    position:relative;
    height:0;
    overflow:hidden
}
.intrinsic-container-16x9{
    padding-bottom:56.25%
}
.intrinsic-container-4x3{
    padding-bottom:75%
}
.intrinsic-container iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
.query-input{
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    border:1px solid #1C1C1C !important
}
.inline-ad{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    margin-top:0px;
    margin-bottom:0px
}
.inline-ad img{
    margin-bottom:20px
}
#desktop1 iframe{
    margin-top:10px;
    margin-bottom:10px;
    max-width:100%;
    overflow:hidden
}
#desktop6 iframe{
    margin-top:10px;
    margin-bottom:10px
}
#desktop4 iframe,#desktop5 iframe{
    margin-top:-10px;
    margin-bottom:10px;
    max-width:100%;
    max-height:150px;
    overflow:hidden
}
.inline-ad-blog{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    margin-top:20px;
    margin-bottom:0px
}
.inline-ad-blog img{
    margin-bottom:10px;
    margin-top:10px
}
ul.admin-links{
    padding:10px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    font-family:"PT Sans", Helvetica, Arial, sans-serif
}
ul.admin-links li{
    border-right:1px solid #1C1C1C;
    list-style:none;
    display:inline-block;
    padding-left:5px;
    padding-right:10px
}
ul.admin-links .left-bar{
    border-left:1px solid #1C1C1C;
    padding-left:10px
}
li.current{
    background-color:#FFFFFF;
    color:#FFF
}
.disabled{
    color:#828282
}
.pagination{
    font-family:"PT Sans", Helvetica, Arial, sans-serif;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:12px
}
.pagination a{
    padding:2px 10px !important
}
.text-error{
    color:#FF6060 !important
}
img.issue-cover-small{
    height:300px;
    width:225px;
    margin-left:20px
}
li.issue-archive{
    width:210px;
    height:320px;
    border:none;
    padding:10px
}
.issue-archive img{
    height:280px
}
ul.thumbnails{
    margin-top:10px
}
.mainslider{
    margin-bottom:0px
}
br.clear{
    clear:both;
    margin:0 0 0 0;
    padding:0 0 0 0
}
ol{
    list-style-position:outside
}
li.recent-issues{
    font-family:"PT Sans", Helvetica, Arial, sans-serif;
    text-transform:none;
    font-weight:400;
    font-size:22px;
    padding:5px 0;
    list-style:none
}
li.recent-issues a:link{
    color:#FF6060 !important
}
li.recent-issues a:active{
    color:#FF6060 !important
}
li.recent-issues a:visited{
    color:#FF6060 !important
}
li.recent-issues a:hover{
    color:#FF6060 !important
}
.holiday-covers img{
    border:none;
    vertical-align:middle;
    text-align:center;
    margin:10px
}
.holiday-headers img{
    vertical-align:middle;
    text-align:center;
    padding:20px 5px 30px 5px
}
.article-sidebar-well{
    margin:0px;
    padding:0px
}
.article-sidebar-well .affix{
    position:static;
    width:auto;
    top:0
}
.article-sidebar-well img{
    border:1px solid #1C1C1C;
    background:none;
    margin-bottom:20px
}
.bp-sidebar-well{
    border:1px solid #1C1C1C;
    background:white;
    margin-bottom:20px
}
.header-adzone img{
    margin-top:10px;
    margin-bottom:10px;
    border:1px solid #1C1C1C
}
.content-well{
    padding:0px;
    padding-top:20px;
    padding-bottom:20px;
    margin-bottom:20px;
    background:white
}
.trending{
    border:1px solid #1C1C1C
}
hr.divider{
    clear:both;
    margin:0 0 0 0;
    border-top:1px solid #1C1C1C
}
.social-icons{
    color:#666;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:0px;
    padding-bottom:0px;
    font-size:30px;
    line-height:30px
}
.social-icons p{
    margin-top:0px;
    margin-bottom:0px
}
.social-icons-large{
    color:#666;
    margin-left:20px;
    margin-right:5px;
    margin-bottom:0px;
    padding-bottom:0px;
    font-size:40px;
    line-height:40px
}
.social-icons-large p{
    margin-top:0px;
    margin-bottom:0px
}
.bp-main-slider{
    margin-bottom:0px
}
p.author-small{
    font-family:"PT Sans", Helvetica, Arial, sans-serif;
    color:#666;
    font-weight:400;
    font-size:20px;
    padding-top:-4px;
    margin-bottom:10px;
    text-align:left;
    font-style:italic
}
