
h1 {
	text-align: center; 
	color: #FAAC58;
	font-family: monospace;
	font-size: 4em;

}

h2 {
	text-align: left;
	color: tomato;
	font-size: 1.5em

}

p {
	color: cyan;
	text-align: justify-all;
	font-family: georgia, cursive;
}


.column {
  float: left;
  width: 33.33%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}